a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}    
 a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.videoCard{
    height: fit-content;
    width: 330px;
    box-shadow: 0px 0px 15px 0px gray;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
}

.videoCard_imageDiv{
    height: 200px;
    width: 330px;
}

.videoCard_contentDiv{
    padding: 0 0.5rem;
    padding-bottom: 0.5rem;
}

.videoCard_imageDiv img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.videoCard_titleDiv{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.videoCard_title{
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.videoCard_optionsIcon{
    font-size: 1.25rem;
    cursor: pointer;
}

.videoCard_descriptionDiv{
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}