.loginPage{
    min-height: calc(100vh - var(--navbar-height));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginPage_form{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 0px gray;
    border-radius: 0.5rem;
    padding: 2rem;
    gap: 1rem;
}

.loginPage_form label {
    display: flex;
    flex-direction: column;
}

.loginPage_form input {
    padding: 0.25rem;
    width: 250px;
}

.loginPage_signInBtn{
    margin-top: 1rem;
    padding: 0.25rem;
    font-size: inherit;
}