.signUpPage{
    min-height: calc(100vh - var(--navbar-height));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpPage_form{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 0px gray;
    border-radius: 0.5rem;
    padding: 2rem;
    gap: 1rem;
}

.signUpPage_form label {
    display: flex;
    flex-direction: column;
}

.signUpPage_form input {
    padding: 0.25rem;
    font-size: inherit;
    font-family: inherit;
    padding: 0.25rem 0.25rem;
    border-radius: 0.5rem;
    border: 1px solid gray;
}

.signUpPage_nameInputDiv{
    display: flex;
    gap: 1rem;
}

.signUpPage_nameInputDiv input{
    width: 150px;
}

.signUpPage_signInBtn{
    margin-top: 1rem;
    padding: 0.5rem 0.25rem;
    font-size: inherit;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #38bdf8;
    color: white;
    font-weight: bold;
}

.signUpPage_signInBtn:hover{
    outline: 1px solid gray;
}

.signUpPage_signUpBtn{
    border: none;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    padding: 0.5rem 0.25rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.signUpPage_signUpBtn:hover{
    outline: 1px solid gray;
}

.signUpPage_LoginBtn{
    border: none;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    padding: 0.5rem 0.25rem;
    border-radius: 0.5rem;
    cursor: pointer;   
}

.signUpPage_LoginBtn:hover{
    outline: 1px solid gray;
}