.videoListing{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.videoListing_filters{
    padding: 0.5rem 0;
}

.videoListing_panel{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem
}