.navBar{
    min-height: var(--navbar-height);
    border-bottom: 1px solid gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: white;
}

.navBar_logoMenuDiv{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navBar_menuIcon{
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.navBar_logo{
    height: calc(var(--navbar-height) - 10px);
    width: 150px;
}

.navBar_logo > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.navBar_searchInputDiv{
    background-color: white;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.25rem 0.25rem;
    border-radius: 0.5rem;
}

.navBar_searchInput{
    font-size: 1rem;
    border: none;
    height: 1.5rem;
    width: 300px;
    padding: 0.5rem 0.5rem;
}

@media screen and (max-width: 768px) {
    .navBar_menuIcon{
        display: block;
    }

    .navBar_logo{
        height: 40px;
        width: 100px;
    }

    .navBar_searchInput{
        width: 150px;
    }
}