.App {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow-y: scroll;
}

.app_content{
  /* background-color: blanchedalmond; */
  height: 100%;
  width: 100%;
  display: flex;  
}

.App > div:first-child{
  /* position: sticky; */
  /* top: 0; */
  position: sticky;
  top: 0;
  width: 100%;
}

.app_content > div:first-child{
  top: var(--navbar-height);
  position: fixed;
}

.app_content > div:nth-child(2){
  max-width: calc(100vw - var(--sidebar-width));
  margin-left: var(--sidebar-width);
}

@media screen and (max-width: 768px) {
  .app_content > div:first-child{
    /* top: var(--navbar-height); */
    /* display: none; */
  }

  .app_content > div:nth-child(2){
    /* min-height: calc(100vh - var(--navbar-height)); */
    max-width: calc(100vw);
    margin-left: 0;
  }

}