.App {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow-y: scroll;
}

.app_content{
  /* background-color: blanchedalmond; */
  height: 100%;
  width: 100%;
  display: flex;  
}

.app_content > div:first-child{

}

.app_content > div:nth-child(2){
  min-height: calc(100vh - var(--navbar-height));
  max-width: calc(100vw - var(--sidebar-width));
}