.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app_content{
  /* background-color: blanchedalmond; */
  height: 100%;
  outline: 1px solid blueviolet;
  width: 100%;
  display: flex;  
}

.app_content > div:first-child{

}

.app_content > div:nth-child(2){
  min-height: calc(100vh - var(--navbar-height));
  min-width: calc(100vw - 250px);
}